{% include "header.html" %}

<body>
	
	<div class = "container">
		

	<div class="wrapper fadeInDown">
	  <div id="formContent">

		<form  action="{% url 'file_upload' %}" method = 'POST' enctype="multipart/form-data">



				    {% csrf_token %}
		 	<div class ="form-group">
		 		<label for="fileUpload">Upload File to S3</label>	
		    	<input id="fileUpload" class ="form-control-file"type="file" name="fileToUpload">
		    </div>

		   	<div class="form-group">

		    	<input class="btn btn-success"type="submit" value="Upload">

		    </div>
		</form>
		</div>
	</div>
	</div>
<br>
<br>
<br>
<!-- <h4>Uploaded files</h4>
<table border='5'>
	<thead>
	<th>Name</th>
	<th>Action</th>
	</thead>
	<tbody>
		{% for row in files %}
		<tr>
			<td>{{row.Name}}</td>
			<td><a href="{{row.data.fileURL}}">Download</a></td>
		</tr>
		{%endfor%}
	</tbody>a
</table>
<br>
<label>Type of file : </label>
<select id = "typeOfPlan">
	<option value="plan_sale">plan_sales</option>
	<option value="revenue">revenue</option>
	<option value="service">service</option>
</select>
<a href="/download" >Download --></a>

{% include "footer.html" %}